:root {
    --bs-primary-color: #ce7353;
    --bs-secondary-color: rgb(194, 63, 12);
    --bs-text-color: #3d3929;
    --bs-title-font: 'Inter';
    --bs-discription-font: 'Crimson Pro';
}
body{
  font-family: 'Crimson Pro';
}
.t1{
    font-family: 'Inter';
}
.banner {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.banner::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.3),
            transparent 50%,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 1));
    z-index: 2;
}

.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/hero-banner/bhagavad-gita-21x9-2304x990.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 1;
}

.banner p {
    color: white;
    text-align: center;
    font-size: 18px;
    position: relative;
    z-index: 3;

}

.banner h1 {
    position: relative;
    z-index: 3;
    color: white !important;
    font-size: 60px;
    text-align: center;
    padding-top: 5%;
    font-weight: 600;
}

.btn:hover {
    background-color: var(--bs-secondary-color);
    border-color: var(--bs-secondary-color);
}

.btn-primary {
    background-color: var(--bs-primary-color);
    border-color: var(--bs-primary-color);
}

.c1 {
    color: var(--bs-primary-color);
}

.btn-secondary {
    background-color: var(--bs-secondary-color);
}

.contact-img {
    position: relative;
    width: 100%;
    height: 436px;              
    overflow: hidden;

    background-image: url("../images/contact-us/bhagavad-gita-4x3-1024x768.jpg");
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
}
.verse-box{
    padding: 28px;
}
.btn-o {
    padding: 10px 22px;
    margin: 10px 5px;
    background: #111111;
    border: 1px solid #333333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}

.btn-o:hover {
    background: #1d1d1d;
    border-color: #444444;
}

.b5{
    vertical-align: -1.7px;
}

.footerlogo span {
    font-size: 18px;
    color: #0b0b0bcc;
    font-weight: 500;
    display: block;
    margin-top: 20px;
    font-family: var(--bs-discription-font);
}

.footerspan {
    color: #9C959A !important;
    font-size: 18px;
}
footer a{
        color: #9C959A !important;
}

.store p {
    color: #9C959A;
    font-size: 14px;
    font-family: var(--bs-discription-font);
}

.store a {
    color: #ce7353 !important;
    font-size: 14px;
    font-family: var(--bs-discription-font);
}

.playstore a img {
    width: 140px;
    height: 40px;
}