:root {
    --bs-primary-color: #ce7353;
    --bs-secondary-color: rgb(194, 63, 12);
    --bs-text-color: #3d3929;
    --bs-title-font: 'Inter';
    --bs-discription-font: 'Crimson Pro';
}
body{
  font-family: 'Crimson Pro';
}
.t1{
    font-family: 'Inter';
}
.banner {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.banner::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.5),
            transparent 50%,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 1));
    z-index: 2;
}

.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/hero-banner/bhagavad-gita-21x9-2304x990.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 1;
}

.banner p {
    color: white;
    text-align: center;
    font-size: 18px;
    position: relative;
    z-index: 3;

}

.banner h1 {
    position: relative;
    z-index: 3;
    color: white !important;
    font-size: 60px;
    text-align: center;
    padding-top: 5%;
    font-weight: 600;
}

.btn:hover {
    background-color: var(--bs-secondary-color);
    border-color: var(--bs-secondary-color);
}

.btn-primary {
    background-color: var(--bs-primary-color);
    border-color: var(--bs-primary-color);
}

.c1 {
    color: var(--bs-primary-color);
}

.btn-secondary {
    background-color: var(--bs-secondary-color);
}